asgiref==3.8.1
asn1crypto==1.5.1
backports.zoneinfo==0.2.1
Django==4.2.16
django-crispy-forms==2.3
django-otp==1.5.4
django_pg8000==0.0.5
pg8000==1.31.2
psycopg2==2.9.1
python-dateutil==2.9.0.post0
pytz==2024.2
scramp==1.4.5
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
