<!-- users/templates/users/dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Choose your next task:</p>
        {% if user.is_authenticated %}
            <div>
                {% if user.profile.is_student %}
                    <a href="{% url 'request_task' %}">Request NOC, LOR, No Dues Slip</a>
                {% elif user.profile.is_society %}
                    <a href="{% url 'request_task' %}">Request Budget, Event, Room</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>
